body {
    background-color: #282828;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #3c3c3c;
}

nav  {
    display: flex;
    flex-direction: row;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

 form {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: 200px;
}

footer {
    background-color: #3c3c3c;
}

.social-media > ul  {
    list-style: none;
}

.social-media ul li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.social-link {
    display: flex;
    justify-content: space-evenly;
}