body {
    background-color: #282828;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

nav  {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    justify-content: space-evenly;
}


.nav-links {
    list-style: none;
    padding: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}