body {
    background-color: #282828;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
